html,body { height:100%; }

* { padding: 0; margin: 0; }

.menu{
    background-color: #3495eb;
    font-size: 30px;
    width: 300px;
    height: 100vh;
}

.container{
    display: grid;
}

.header{

}

.item{
    max-width: 30px;
    max-height: 30px;
    display: flex;
    padding: 8px;
    padding-left: 20px;
}

.main{
    background-color: #d1cbcb;
}

.dashboard{
    max-width: 50px;
    max-height: 50px;
    /* background-color: #3495eb; */
    padding: 20px;
    font-size: 40px;
    display: flex;
    padding-bottom: 40px;
}